<table class="tg">
  <tr>
    <th class="tg-yw4l">
      TRUE
    </th>

    <th class="tg-yw4l">
      FALSE
    </th>
    <th class="tg-yw4l">
      Some text
    </th>
  </tr>
  <tr>
    <td class="tg-yw4l">
      <md-radio-button class="example-radio-button" [(ngModel)]="answer1">
        
      </md-radio-button>
    </td>

    <td class="tg-yw4l">
      <md-radio-button class="example-radio-button" [(ngModel)]="answer1">
         
      </md-radio-button>
    </td>
    <td class="tg-yw4l">
      Some text
    </td>
  </tr>

  <tr>
      <td class="tg-yw4l">
        <md-radio-button class="example-radio-button" [(ngModel)]="answer2">
          
        </md-radio-button>
      </td>
  
      <td class="tg-yw4l">
        <md-radio-button class="example-radio-button" [(ngModel)]="answer2">
           
        </md-radio-button>
      </td>
      <td class="tg-yw4l">
        Some text
      </td>
    </tr>

    <tr>
        <td class="tg-yw4l">
          <md-radio-button class="example-radio-button" [(ngModel)]="answer3">
            
          </md-radio-button>
        </td>
    
        <td class="tg-yw4l">
          <md-radio-button class="example-radio-button" [(ngModel)]="answer3">
             
          </md-radio-button>
        </td>
        <td class="tg-yw4l">
          Some text
        </td>
      </tr>

      <tr>
          <td class="tg-yw4l">
            <md-radio-button class="example-radio-button" [(ngModel)]="answer4">
              
            </md-radio-button>
          </td>
      
          <td class="tg-yw4l">
            <md-radio-button class="example-radio-button" [(ngModel)]="answer4">
               
            </md-radio-button>
          </td>
          <td class="tg-yw4l">
            Some text
          </td>
        </tr>
</table>