<table>
  
  <tr>
    <td class="center" style="font-size:10px">&nbsp;true &nbsp;</td>
    <td class="center" style="font-size:10px">&nbsp;false&nbsp;</td>
    <td></td>
  </tr>
  
  <tr *ngFor="let answer of answers">
    <td class="center">
      <md-checkbox>
        <!-- true -->
      </md-checkbox>
    </td>
    <td class="center">
      <md-checkbox>
        <!-- false -->
      </md-checkbox>
    </td>
    <td>
      <div style="class: inline-block">
        {{answer.descr}}
      </div>
    </td>
  </tr>
  
  
</table>
