<div class="task">
  <div class="task-header">
    <div class="task-title">
      {{title}}
    </div>
  </div>
  <div class="task-body">
    
    <div class="description" [innerHtml]=description></div>
    
    <app-mc *ngIf="type === 'mc'"></app-mc>
    
    <app-sc *ngIf="type === 'sc'"></app-sc>

    <app-tf *ngIf="type === 'tf'"></app-tf>
    
    <app-dnd *ngIf="type === 'dnd'"></app-dnd>
  
    <app-sf *ngIf="type === 'sf'"></app-sf>
    
    <app-dropdown *ngIf="type === 'dropdown'"></app-dropdown>
  
    <app-gap *ngIf="type === 'gap'"></app-gap>
    
    <!--app-linfun *ngIf="type ==='linfun'"></app-linfun-->

  </div>
  <app-task-footer></app-task-footer>
</div>
