.task-footer {
    background: #f0f0f0;
    padding: 10px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.points {
    margin: 0;
    font-weight: 700;
    color: black;
}

