.example-full-width {
    width: 100px;
  }

  .example-full-width {
    margin-top: -40px;

    padding-top: 0px;
    padding-left: 7px;
    padding-right: 7px;
    width: 100px;


   
    
    line-height: 0px;
    
    box-sizing: border-box;

    

  }

