<!-- http://www.mathe-online.at/materialien/stefanie.schrei/files/Hot_Potatoes/rw_dreieck.png -->
<!-- Setze die richtigen Antworten in die Lücken. -->
<!-- rechrer, 0 -->

<form class="example-form">

  <div class="allesidmitti">
  Ein

  <md-form-field class="example-full-width">
    <input mdInput placeholder="  ">
  </md-form-field>

  Winkel hat genau 90°.
</div>
  <div class="allesidmitti">
    Ein spitzer Winkel hat zwischen

    <md-form-field class="example-full-width">
      <input mdInput placeholder="  ">
    </md-form-field>

    ° und 90°.
  </div>
 

</form>