<!-- Die grau dargestellte Fläch s wird vom Funktionsgraph und
den beiden Geraden mit den Gleichungen x = a und x = b umschlossen. -->

<!-- pic https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Integral_as_region_under_curve.svg/1200px-Integral_as_region_under_curve.svg.png -->



<div class="allesidmitti">

  Die grau dargestellte Fläch s wird
</div>
<div class="allesidmitti">
  <md-select placeholder=" " [(ngModel)]="selectedValue" name="food">
    <md-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </md-option>
  </md-select>
</div>
<div class="allesidmitti">
  und den beiden Geraden mit den Gleichungen x = a und x = b umschlossen.

</div>