<div>
  
  <table>
    <tr>
      <td>
        Jede ganze Zahl ist positiv.
      </td>
      <td [dragula]='"first-bag"'>
      
      </td>
    </tr>
    <tr>
      <td>
        Es gibt keine positive ganze Zahl.
      </td>
      <td [dragula]='"first-bag"'>
      
      </td>
    </tr>
    <tr>
      <td>
        Nicht jede ganze Zahl ist positiv.
      </td>
      <td [dragula]='"first-bag"'>
      
      </td>
    </tr>
    <tr>
      <td>
        Die Aussage, dass es keine ganze positive Zahl gibt, ist falsch.
      </td>
      <td [dragula]='"first-bag"'>
      
      </td>
    </tr>
  </table>
  
  <div class='wrapper'>
    <div class='container' [dragula]='"first-bag"'>
      <div>Es gibt eine ganze Zahl, die nicht positiv ist.</div>
      <div>Eine Zahl, die positiv ist, kann keine ganze Zahl sein.</div>
      <div>Es gibt keine ganze Zahl, die nicht positiv wäre.</div>
      <div>Es gibt eine positive ganze Zahl.</div>
    </div>
  </div>
</div>
