
.container {
    background: #f0f0f0;
    display: table-cell;
    border-radius: 3px;
}

.container div,
.gu-mirror {
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    transition: opacity 0.4s ease-in-out;
}
.container div {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

td.right-col {
    border: 1px dashed #ccc;
    padding: 10px;
    height: 75px;
    width: 300px;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 30px 15px;
    border-color: transparent transparent #f0f0f0 transparent;
    margin-bottom: -10px;
}
